.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--backgroundOne);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader span {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.app .aviso {
  font-family: Poppins, sans-serif;
  margin-bottom: 2rem;
  padding: 0 1rem;
  background-color: var(--backgroundThree);
  border-radius: 5px;
}
.app .aviso span {
  display: block;
  font-size: 1.2rem;
}

.loading {
  color: var(--avisoloading);
}

.avisotwo {
  font-family: Poppins, sans-serif;
  color: var(--avisoloading);
  font-weight: bold;
  animation: anime 0.9s linear infinite;
}
.avisotwo.circleaviso {
  margin-bottom: 1rem;
}

@keyframes anime {
  to {
    color: var(--animeColorTo);
  }
  from {
    color: var(--animeColorFrom);
  }
}
@media (max-width: 900px) {
  .app-content {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .app .avisotwo {
    font-size: 0.9rem;
  }
}
