.cardMainCircle {
  min-width: 25rem;
  height: 100%;
  margin: 4rem 0;
  background-color: #7f8595;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cardMainActiveCircle {
  height: 100%;
  margin: 4rem 0;
  background-color: #7f8595;
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(238, 159, 46, 0.19) 0px 1px 2px, rgba(238, 159, 46, 0.23) 0px 6px 6px;
}

.cardContentCircle {
  transition: all 1s ease-out;
}

.cardContentCircleFalse,
.cardContentCircleFalse {
  display: none;
}

.cardTitleCircle {
  width: 90%;
  padding: 0.8rem;
  color: #fff;
  top: -2rem;
  background-color: #42435a;
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: Poppins, "sans-serif";
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.cardTitleActiveCircle {
  width: 90%;
  padding: 0.8rem;
  color: #ee9f2e;

  top: -3rem;
  background-color: #1a1b26;
  border-radius: 5px;
  position: absolute;
  box-shadow: rgba(238, 159, 46, 0.8) 0px -2px 5px, rgba(238, 159, 46, 0.23) 0px 6px 6px;
  font-family: Poppins, "sans-serif";
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.2s ease-out;
}

.listCircle {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0 20px 0;
}

.cardContentCircle h2 {
  font-family: Poppins, "sans-serif";
  display: flex;
  align-items: center;
  gap: 10px;
}

.listCircle h2 span,
.listDownCircle h2 span {
  width: 10px;
  height: 2px;
  background-color: #f0d467;
  margin-right: 5px;
}
.noiteCircle {
  margin-top: 1rem;
}
.listDownCircle {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.listCircle li,
.listDownCircle li {
  width: 10rem;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-family: Poppins, "sans-serif";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCircle .active,
.listDownCircle .active {
  width: 10rem;
  margin-top: 10px;
  background-color: #ee9f2e;
  border-radius: 5px;
  font-family: Poppins, "sans-serif";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContentCircle p {
  font-family: Poppins, "sans-serif";
  font-size: 1.2rem;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContentCircle span {
  width: 15px;
  height: 15px;
  background-color: transparent;

  margin-right: 5px;
}

@media (max-width: 500px) {
  .cardContentCircle p {
    font-size: 1rem;
  }

  .cardMainActiveCircle {
    min-width: 24rem;
    margin-bottom: 3rem;
    background-color: #7f8595;
    padding: 1.2rem;
  }

  .cardContentCircle span {
    width: 12px;
    height: 12px;
    background-color: transparent;
  }
}
@media (max-width: 390px) {
  .cardContentCircle p {
    font-size: 0.8rem;
  }
  .cardMainActiveCircle {
    margin-bottom: 7rem;
  }
  .cardMainCircle,
  .cardMainActiveCircle {
    min-width: 18rem;
    background-color: #7f8595;
    padding: 1rem;
  }
  .cardMainActiveCircle {
    margin: 4rem 0;
  }
  .cardContentCircle span {
    width: 12px;
    height: 12px;
    background-color: transparent;
  }
  .cardTitleCircle {
    width: 90%;
    padding: 0.5rem;

    color: #fff;
    background-color: #42435a;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
  }
  .cardTitleActiveCircle {
    width: 90%;
    padding: 0.5rem;
    top: -70px;
    color: #fff;
    background-color: #42435a;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    color: #ee9f2e;
    background-color: #1a1b26;
  }
}
