.footer {
  margin: 5rem 0 0 auto;

  height: 4rem;
  background-color: #42435a;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer h4 {
  font-size: 1rem;
  font-family: Poppins;
  text-transform: uppercase;
}

.footer .social {
  display: flex;
  list-style: none;
}

.footer .social a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  transition: all 0.2s;
}
.footer .social a:hover {
  color: #ee9f2e;
  animation: rotate 0.2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .footer {
    width: 100vw;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer h4 {
    font-size: 0.8rem;
  }
  .footer .social a {
    font-size: 1.5rem;
  }
}
